.list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.para {
  font-size: 15px;
  font-family: 'Roboto';
  color: #475569;
}
.icon {
  height: 20px;
  width: 20px;
}
.button {
  border: none;
  background-color: transparent;
}
